[flake8]
max-line-length = 120
ignore =
    B506
    D100
    D104
    S101
exclude =
    .git
    .venv
    __pycache__
    build
    dist
    setup.py

max-complexity = 10

[darglint]
docstring_style = google
strictness = full
